@page
@model azure_app_vk_vs.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment slots page";
}
<div class="text-center">
    <h1 class="display-4">Testing Deployment Slots</h1>
    <h3>Validating deployment slots feature</h3>
</div>
